@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --cor-de-fundo: #e61a5791;
    --rosa: #ff57b3b6;
    --branco: #FFFFFF;
    --botao-ativo: #3A375E;
    --botao-inativo: rgba(58,55,94,0.5);
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--branco);
    font-family: 'Roboto Condensed';
}

.botao{
    font-family: 'Roboto Condensed';
    background-color: var(--botao-inativo);
    color: var(--branco);
    font-size: 18px;
    padding: 1em;
}

.titulo-principal{
  font-size: 32px;
}